{% extends 'base.html' %}

{% block content %}

<!-- About page -->
<div class="masthead">
    <div class="container">
        <div class="row mb-2">
            <div class="col-12 card-container">
                <div class="element-card">
                    <h1 class="fw-bold my-3 text-center">StockBook - The ultimate community for investors and traders</h1>
                    <hr>
                    <div class="col-md-12 my-5">
                        <img src="/static/images/bull-vs-bear.jpeg" alt="bull-vs-bear image">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center fw-bold mb-3">StockBook allows you to:</h3>
                            <ul class="fs-5">
                                <li class="mb-2">Keep track of you favourite stocks' <span class="fw-bold">performance</span>, with
                                    up-to-date prices provided by <a href="https://polygon.io/">Polygon</a></li>
                                <li class="mb-2">Analyse the main <span class="fw-bold">financial data</span> of the company, to
                                    assess its fair value</li>
                                <li class="mb-2">See the <span class="fw-bold">community sentiment</span> about the company and their
                                    recommendations</li>
                                <li class="mb-2">Express your ideas on the company, and <span class="fw-bold">give a recommendation
                                        yourself!</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}