{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-12 detail-image-container">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in stockinfo.featured_image.url %}
                <img src="" width="100%">
                {% else %}
                <img src=" {{ stockinfo.logo_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <!-- asset title goes in these h1 tags -->
                <h1 class="asset-title">{{ stockinfo.title }} ({{ stockinfo.ticker }})</h1>
                <h3>Last Price: <span>{{ last_trade_price }} ({{ daily_perf }})</span></h3>
                <p>Last Update: <span>{{ last_trade_datetime }}</span></p>
                <h3>Sentiment Analysis</h3>
                <p>
                    Bulls:<span>{{ bulls_num }}</span><br>
                    Bears:<span> {{ bears_num }}</span><br>
                    Ratio:<span> {{ bulls_bears_ratio }}</span>
                </p>
            </div>
            <div class="col-md-8">
                <p>{{ stockinfo.description | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="comments-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3">
                <h3>Comments:</h3>
                <div class="comments-card">
                    <!-- if there is at least one comment -->
                    {% if comments %}
                    <!-- For loop to iterate through comments -->
                    {% for comment in comments %}
                    <div class="comments">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    {{ comment.name }}
                                    <span>
                                        {{ comment.created_on }}
                                    </span>
                                </p>
                            </div>
                            {% if comment.name == request.user.username %}
                            <div class="col-md-2">
                                <p>
                                    <button type="submit" class="btn btn-lg" name="send" value="delete"> Update
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-danger" href="{% url 'delete_comment' pk=comment.pk %}">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                        <p>
                            {% if comment.sentiment == 'BULL' %}
                            <p>Sentiment: Bullish</p>
                            {% elif comment.sentiment == 'BEAR' %}
                            <p>Sentiment: Bearish</p>
                            {% else %}
                            <p>Sentiment: Hold</p>
                            {% endif %}
                        </p>
                        <!-- Body of the comment -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- end of loop -->
                    {% endfor %}
                    <!-- else, if there is no comment -->
                    {% else %}
                    <p>No comments, be the first one!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div>
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>

                    {% else %}

                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}