{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-12 detail-image-container">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in stockinfo.featured_image.url %}
                <img src="" width="100%">
                {% else %}
                <img src=" {{ stockinfo.logo_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <!-- asset title goes in these h1 tags -->
                <h1 class="asset-title">{{ stockinfo.title }} ({{ stockinfo.ticker }})</h1>
                <h3>Last Price: <span>{{ last_trade_price }} {{ currency }} ({{ daily_perf }})</span></h3>
                <p>Currency: {{ currency}} - Last Update: <span>{{ last_trade_datetime }}</span></p>
            </div>
            <div class="col-md-8">
                <p>{{ stockinfo.description | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="analysis-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Overview</h3>
                <table>
                    <tr>
                        <td>Sector</td>
                        <td>{{ sector }}</td>
                        
                    </tr>
                    <tr>
                        <td>Market Cap</td>
                        <td>{{ market_cap }}</td>
                    </tr>
                    <tr>
                        <td>High-Low 52 weeks</td>
                        <td>({{ high_52w }} - {{ low_52w }})</td>
                    </tr>
                    <tr>
                        <td>Average Volume</td>
                        <td>{{ avg_vol }} Shs</td>
                    </tr>
                </table>
            </div>            
            <div class="col-md-3">
                <h3>Financials</h3>
                <table>
                    <tr>
                        <td>Revenue</td>
                        <td>{{ revenue }}</td>
                        
                    </tr>
                    <tr>
                        <td>Net Income/Loss</td>
                        <td>{{ income }}</td>
                    </tr>
                    <tr>
                        <td>Dividend Rate</td>
                        <td>{{ dividend_rate }} ({{ dividend_yield }})</td>
                    </tr>
                    <tr>
                        <td>Payout Ratio</td>
                        <td>{{ payout_ratio }}</td>
                    </tr>
                </table>                
            </div>
            <div class="col-md-3">
                <h3>Multiples</h3>
                <table>
                    <tr>
                        <td>Price/Earnings</td>
                        <td>{{ price_earnings }}</td>
                        
                    </tr>
                    <tr>
                        <td>Price/FCF</td>
                        <td>{{ price_to_fcf }}</td>
                    </tr>
                    <tr>
                        <td>Profit Margin</td>
                        <td>{{ profit_margin }}</td>
                    </tr>
                    <tr>
                        <td>Debt to Equity</td>
                        <td>{{ debt_to_equity }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <h3>Sentiment</h3>
                <table>
                    <tr>
                        <td>Bulls</td>
                        <td>{{ bulls_num }}</td>
                        
                    </tr>
                    <tr>
                        <td>Bears</td>
                        <td>{{ bears_num }}</td>
                    </tr>
                    <tr>
                        <td>Ratio</td>
                        <td>{{ bulls_bears_ratio }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="comments-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3">
                <h3>Comments:</h3>
                <div class="comments-card">
                    <!-- if there is at least one comment -->
                    {% if comments %}
                    <!-- For loop to iterate through comments -->
                    {% for comment in comments %}
                    <div class="comments">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    {{ comment.name }}
                                    <span>
                                        {{ comment.created_on }}
                                    </span>
                                </p>
                            </div>
                            {% if comment.name == request.user.username %}
                            <div class="col-md-2">
                                <a class="btn btn-submit" href="{% url 'delete_comment' stockinfo.slug comment.pk %}">Delete</a>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-submit" href="{% url 'edit_comment' stockinfo.slug comment.pk %}">Edit</a>
                            </div>

                            {% endif %}
                        </div>
                        <p>
                            {% if comment.sentiment == 'BULL' %}
                            <p>Sentiment: Bullish</p>
                            {% elif comment.sentiment == 'BEAR' %}
                            <p>Sentiment: Bearish</p>
                            {% else %}
                            <p>Sentiment: Hold</p>
                            {% endif %}
                        </p>
                        <!-- Body of the comment -->
                        {{ comment.body | linebreaks }}
                    </div>
                    <!-- end of loop -->
                    {% endfor %}
                    <!-- else, if there is no comment -->
                    {% else %}
                    <p>No comments, be the first one!</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div>
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>

                    {% else %}

                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}